<div class="form-container">
  <h1>Popular Custom Games and Game Modes</h1>

  <strong>Overthrow</strong>
  <p></p>
  
<a routerLink="/"><img src="assets/img/200px-Custom_Game_Banner_Overthrow.png"></a>  
  
  <p>Overthrow is a quick fight to the death in a small team free-for-all as players try to earn enough kills to win the match before the timer expires. Gather a friend or two, or go it alone as you stalk near the Midas Throne, which increases the gold and experience gains of nearby heroes. Snatch Gold Coins as they appear, or head out to claim an item delivery.</p>
  
  <p>Game mode options:</p>
    <div class="form-group">
    <select class="form-control" type="text">
      <option value="All Pick">All Pick</option>
      <option value="Turbo Mode">Turbo Mode</option>
      <option value="Single Draft">Single Draft</option>
    </select>
  </div>

  <strong>Dota 10v10</strong>
  <p></p>
  
<a routerLink="/"><img src="assets/img/200px-Custom_Game_Banner_Haunted_Colosseum.png"></a>  
  
  <p>Colosseum is a fast-paced 5 versus 5 match where players must contest five control points across the map to earn points for their team.</p>
  
    <p>Game mode options:</p>
    <div class="form-group">
    <select class="form-control" type="text">
      <option value="All Pick">All Pick</option>
      <option value="Turbo Mode">Turbo Mode</option>
      <option value="Single Draft">Single Draft</option>
    </select>
  </div>

  <strong>Bloodborn</strong>
  <p></p>
 <a routerLink="/"><img src="assets/img/200px-Custom_Game_Banner_Skillshot_Wars.png"></a>  
  
  <p>Face off in a 5v5 arena battle, putting your skill to the test with 4 hard-to-land abilities! First team to 50 kills wins!</p>
  
  <p>Game mode options:</p>
  
    <div class="form-group">
    <select class="form-control" type="text">
      <option value="All Pick">All Pick</option>
      <option value="Turbo Mode">Turbo Mode</option>
      <option value="Single Draft">Single Draft</option>
    </select>
  </div>
  
</div>
