<p>
  Bloodborne is played from a third-person perspective and features action role-playing elements similar to those found in the Souls series of games, particularly Demon's Souls and Dark Souls.Players make their way through different locations within the decrepit Gothic world of Yharnam, while battling varied enemies, including bosses, collecting different types of useful items that have many uses, interacting with the strange non-player characters,opening up shortcuts, and continuing through the main story.
</p>
