<div class="jumbotron text-center">
  <div class="container">
    <h1>Manage your DotA characters and custom games</h1>
    
    <a href="http://store.steampowered.com/app/570/Dota_2/"><img src="assets/img/dota2.png"></a>
    
    <p> <br /> To access, please click to log in:</p>
    <a routerLink="/login"><img src="assets/img/login_btn.png"></a>
    
   <p>Check the status of other custom games:</p>
   
   <a [routerLink]="['/allData']"><img src="assets/img/games_btn.png"></a>

  </div>
</div>
